* {margin: 0; padding: 0}
html, body, #map-canvas {height: 100%; margin: 0; padding: 0; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
body{
	 width:100%;
	 background:white;
}
#main-container{
	 background:#EFF7FB;
	 background-image: url('imgs/ruban.png');
	 background-position: center center;
	 background-repeat: repeat;
	 margin-left: auto;
	 margin-right: auto;
	 max-width:1024px;
	 width:100%;
	 height:100%;
	 padding-top:10px;
	 padding-bottom:10px;
 
}
#header{
	max-width:1024px;
	width:100%;
	height:181px;
	background:blueviolet;
	 background-image: url('imgs/header.png');
	 background-position: center center;
	 background-repeat: no-repeat;
	 	 margin-left: auto;
	 margin-right: auto;
}
#map-container{
	max-width:724px;
	width:100%;
	height:100%;
	 margin-left:15px;
	display: inline-block
}
#menu-container{
	width:260px;
	margin-left:5px;
	margin-right:15px;
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0);
	height:100%;
	max-height:600px;
	vertical-align:top;
	display: inline-block;
}

.texte {
	font-family: "Georgia", times, serif;
	font-size:0.8rem;
}

.cat-1{
	background-image: url('imgs/hexa1mini.png');
	background-position: left center;
	background-repeat: no-repeat;
	background-position-x: 25px;
	/*background-color: #f7941d;*/
}
.cat-2{
	background-image: url('imgs/hexa2mini.png');
	background-position: left center;
	background-repeat: no-repeat;
	background-position-x: 25px;
	/*background-color: #007236;*/
}
.cat-3{
		background-image: url('imgs/hexa3mini.png');
	background-position: left center;
	background-repeat: no-repeat;
	background-position-x: 25px;
	/*background-color: #630460;*/
}

.accordion {
	/*width: 380px;*/
	/*margin: 20px auto;*/
}

.accordion ul{
	max-height:250px;
	overflow:scroll;
	cursor: pointer;
}
.accordion li{
	font-size: 0.75rem;
	padding:5px;
	padding-left:50px;
	background-color: #9ad3ed;

	list-style-type: none;
}
.accordion li:hover{
	color:white;
	background-color: #6cc5ed;
}
.accordion h1, h2, h3, h4 {
	cursor: pointer;
}
.accordion h2, h3, h4 {
 /* font-family: "News Cycle";*/
}
.accordion h1 {
  padding: 15px 20px;
  background-color: #EFF7FB;
  /*font-family: Lobster;*/
  font-size: 1.0rem;
  /*font-weight: normal;*/
  color: #1A1A1A;
  text-transform: uppercase;
  font-weight: bold;
}
.accordion h1:hover {
  color: #0b9fe1;
}
.accordion h1:first-child {
  /*border-radius: 10px 10px 0 0;*/
}
.accordion h1:last-of-type {
  /*border-radius: 0 0 10px 10px;*/
}
.accordion h1:not(:last-of-type) {
  /*border-bottom: 1px dotted #1abc9c;*/
}
.accordion div, .accordion p {
  display: none;
}
.accordion h2 {
  padding: 5px 25px;
  background-color: #b6e2f6;
  font-size: 1.1rem;
  color: #333;
}
.accordion h2:hover {
  background-color: #6cc5ed;
}
.accordion h3 {
  padding: 5px 30px;
  background-color: #b94152;
  font-size: .9rem;
  color: #ddd; 
}
.accordion h3:hover {
  background-color: #a93142;
}
.accordion h4 {
  padding: 5px 35px;
  background-color: #ffc25a;
  font-size: .9rem;
  color: #af720a; 
}
.accordion h4:hover {
  background-color: #e0b040;
}
.accordion p {
  padding: 15px 35px;
  background-color: #ddd;
  font-family: "Georgia";
  font-size: .8rem;
  color: #333;
  line-height: 1.3rem;
}
.accordion .opened {
  display: block;
}
